<header class="headerglobal">
    <ul>
        <li>{{#link-to 'login'}} Login {{/link-to}}</li>
        <li>{{#link-to 'home'}} Home {{/link-to}}</li>
        <li>{{#link-to 'registrar_persona'}} Registrar persona {{/link-to}}</li>
        <li>{{#link-to 'calculadora'}} Calculadora {{/link-to}}</li>
        <li>{{#link-to 'listar_personas'}} Listar personas {{/link-to}}</li>
    </ul>
    <hr>
</header>
{{outlet}}